extends layout

block content
	div.container
		p Welcome #{user.name}!
		if user.character == 'student'
			div#homeworkList
				| Your homework is listed below:
				ul
					- var i = 0
					each homework in homeworks
						li
							a(href="./homework.id") #{homeworks}