body {
	font-family: serif;
	#at-plus-container {
        position: relative;
        #button {
            position: relative;
            left: 400px;
            ul {
                list-style: none;
                li {
                    position: absolute;
                	color: white;
                	font-weight: 900;
                }
            }    

            #info-bar {
                position: absolute;
                background-position: center;
                left: 175px;
                top: 180px;
                opacity: 0;
                .info {
                    border-radius: 50%;
                    background-color: grey;
                    width: 150px;
                    height: 150px;
                    #sum {
                        text-align: center;
                        position: absolute;
                        left: 47px;
                        top: -10px;
                        font-size: 40pt;
                        color: #079E6E;
                        font-weight: bold;
                    }
                    .disappear {
                        display: none;
                    }
                    ul {
                        display: none;
                    }
                    li {
                    	position: absolute;
                        left: 45%;
                        top: 50%;
                    	img {
                    		position: relative;
                    		top: 5px;
                    		margin-right: 10px;
                    	}
                    }
                    .user {
                        left:50px;
                        right: 10px;
                        bottom: 10px;
                        top: 20px;
                    }
                    .comment {
                        left:40px;
                        right: 10px;
                        bottom: 10px;
                        top: 60px; 
                        font-size: 2em;
                    }
                    .posted {
                        left:30px;
                        right: 10px;
                        bottom: 10px;
                        top: 110px;
                    }
                    .like {
                        left:80px;  
                        right: 10px;
                        bottom: 10px;
                        top: 108px;
                    }
                    .mine {
                    	color: #079E6E;
                    }
                }
            }

            #info-bar.clickable {
                cursor: pointer;
            }    

            #control-ring-container {
                opacity: 0;
                position: absolute;
                top: 220px;
                left: 220px;
                ul {
                    li:hover {
                        cursor: pointer;
                    }
                    li {
                        background-color: rgba(48, 63, 159, 1);
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        left: 40%;
                        top: 27%;
                        position: absolute;
                        color: #079E6E;
                        span {
                            left: 20px;
                            top: 15px;
                            position: absolute;
                        }
                        img {
                        	margin: 25% 20% 20% 25%;
                        }
                        .unread {
                            color: white;
                            text-align: center;
                            z-index: 3;
                            position: absolute;
                            left: 35px;
                            top: 0px;
                            padding: 10% 10% 10% 10%;
                            border-radius: 50%;
                            height: 15px;
                            width: 15px;
                            font-size: 12px;
                            background-color: red;
                        }
                        .message {
                            width: 100px;
                            border-radius: 5%;
                            background-color: black;
                            color: white;
                            text-align: center;
                            top: -20px;
                            left: -39px;
                            opacity: 0.7;
                        }
                        .show {
                            display: block;
                        }
                        .hide {
                            display: none;
                        }
                    }
                    li.unable {
                        background-color: grey;
                        cursor: auto;
                    }
                    li.completed {
                        background-color: grey;
                        cursor: auto;
                    }
                }
            }

            .apb {
            	border-radius: 50%;
                position: absolute;
                left: 200px;
                top: 200px;
                display: inline-block;
            	.icon {
            		background-color: grey;
            		background-position: center;
                    display: inline-block;
            		height: 100px;
            		width: 100px;
                    margin: auto;
            		border-radius: 50%;
            		img {
            			margin: 25% 20% 20% 20%;
            		}
            	}
            }

        }
        #button:hover   {
            height: 500px;
            width: 500px;
            #info-bar {
                opacity: 0;
                -webkit-animation: info-bar-animate 0.5s ease-in 0s 1 forwards;
            }
            // .apb {
            //     height: 500px;
            //     width: 500px;
            // }
            #control-ring-container {
                -webkit-animation:  control-ring-container-animate 0.5s ease-in 0s forwards;
            }
            .mask  {
                -webkit-animation: mask-animate 0.5s ease-in 0s forwards;
            }
            .history {
                -webkit-animation: history-animate 0.5s ease-in 0s forwards;
            }
            .message2 {
                -webkit-animation: message-animate 0.5s ease-in 0s forwards;
            }
            .setting {
                -webkit-animation: setting-animate 0.5s ease-in 0s forwards;
            }
            .sign {
                -webkit-animation: sign-animate 0.5s ease-in 0s forwards;
            }
            .icon {
                -webkit-animation: apb-animate 0.5s ease-in 0s infinite;
            }
        }
    }
}

@-webkit-keyframes info-bar-animate {
    0% {opacity: 0;}
    100% {opacity: 1; top: 0px;}
}

@-webkit-keyframes control-ring-container-animate {
    0% {display: block; opacity: 0;}
    100% {
        opacity: 1;
        left: 170px;
        top: 200px;
    }
}

@-webkit-keyframes apb-animate {
    0% {background-color: rgba(48, 63, 159, 1);}
    100% {background-color: rgba(48, 63, 159, 1);}
}

@-webkit-keyframes mask-animate  {
    100% {
        left: -250%;
        top: -350%;
    }
}
@-webkit-keyframes history-animate {
    100% {
        left: -330%;
    }
}
@-webkit-keyframes message-animate {
    100% {
        left: -270%;
        top: 500%;
    }
}
@-webkit-keyframes setting-animate {
    100% {
        left: -100%;
        top: 800%;
    }
}
@-webkit-keyframes sign-animate {
    100% {
        left: 120%;
        top: 900%;
    }
}